In [111]:
import pandas as pd
import numpy as np

In [112]:
car=pd.read_csv('After_deletion_data.csv')

In [113]:
car.head()

,Unnamed: 0,Name,Year,Kilometers_Driven,Fuel_Type,Mileage,Engine,Power,Seats,New_Price
0,0,Maruti Alto K10 LXI CNG,2014,40929,CNG,32.26 km/kg,998 CC,58.2 bhp,4.0,NaN
1,1,Maruti Alto 800 2016-2019 LXI,2013,54493,Petrol,24.7 kmpl,796 CC,47.3 bhp,5.0,NaN
2,2,Toyota Innova Crysta Touring Sport 2.4 MT,2017,34000,Diesel,13.68 kmpl,2393 CC,147.8 bhp,7.0,25.27 Lakh
3,3,Toyota Etios Liva GD,2012,139000,Diesel,23.59 kmpl,1364 CC,null bhp,5.0,NaN
4,4,Hyundai i20 Magna,2014,29000,Petrol,18.5 kmpl,1197 CC,82.85 bhp,5.0,NaN

In [114]:
car.shape

(1234, 10)

In [115]:
car=car.drop(columns=['Unnamed: 0'])

In [116]:
car.head()

,Name,Year,Kilometers_Driven,Fuel_Type,Mileage,Engine,Power,Seats,New_Price
0,Maruti Alto K10 LXI CNG,2014,40929,CNG,32.26 km/kg,998 CC,58.2 bhp,4.0,NaN
1,Maruti Alto 800 2016-2019 LXI,2013,54493,Petrol,24.7 kmpl,796 CC,47.3 bhp,5.0,NaN
2,Toyota Innova Crysta Touring Sport 2.4 MT,2017,34000,Diesel,13.68 kmpl,2393 CC,147.8 bhp,7.0,25.27 Lakh
3,Toyota Etios Liva GD,2012,139000,Diesel,23.59 kmpl,1364 CC,null bhp,5.0,NaN
4,Hyundai i20 Magna,2014,29000,Petrol,18.5 kmpl,1197 CC,82.85 bhp,5.0,NaN

In [117]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1234 entries, 0 to 1233
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               1234 non-null   object
 1   Year               1234 non-null   int64
 2   Kilometers_Driven  1234 non-null   int64
 3   Fuel_Type          1234 non-null   object
 4   Mileage            1234 non-null   object
 5   Engine             1224 non-null   object
 6   Power              1224 non-null   object
 7   Seats              1223 non-null   float64
 8   New_Price          182 non-null    object
dtypes: float64(1), int64(2), object(6)
memory usage: 86.9+ KB

In [118]:
car.dropna(subset=['New_Price'], inplace=True)

In [119]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 182 entries, 2 to 1217
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               182 non-null    object
 1   Year               182 non-null    int64
 2   Kilometers_Driven  182 non-null    int64
 3   Fuel_Type          182 non-null    object
 4   Mileage            182 non-null    object
 5   Engine             182 non-null    object
 6   Power              182 non-null    object
 7   Seats              182 non-null    float64
 8   New_Price          182 non-null    object
dtypes: float64(1), int64(2), object(6)
memory usage: 14.2+ KB

In [120]:
car.head()

,Name,Year,Kilometers_Driven,Fuel_Type,Mileage,Engine,Power,Seats,New_Price
2,Toyota Innova Crysta Touring Sport 2.4 MT,2017,34000,Diesel,13.68 kmpl,2393 CC,147.8 bhp,7.0,25.27 Lakh
30,Toyota Etios Cross 1.4L VD,2014,70000,Diesel,23.59 kmpl,1364 CC,67.06 bhp,5.0,9.27 Lakh
36,Skoda Rapid 1.6 MPI AT Style,2017,13500,Petrol,14.84 kmpl,1598 CC,103.52 bhp,5.0,14.95 Lakh
39,BMW 5 Series 520d Luxury Line,2012,66889,Diesel,22.48 kmpl,1995 CC,190 bhp,5.0,70.43 Lakh
43,Skoda Rapid 1.6 MPI Ambition,2018,4000,Petrol,15.41 kmpl,1598 CC,103.52 bhp,5.0,11.89 Lakh

In [121]:
car.shape

(182, 9)

In [122]:
car.reset_index(drop=True, inplace=True)

In [123]:
car.head()

,Name,Year,Kilometers_Driven,Fuel_Type,Mileage,Engine,Power,Seats,New_Price
0,Toyota Innova Crysta Touring Sport 2.4 MT,2017,34000,Diesel,13.68 kmpl,2393 CC,147.8 bhp,7.0,25.27 Lakh
1,Toyota Etios Cross 1.4L VD,2014,70000,Diesel,23.59 kmpl,1364 CC,67.06 bhp,5.0,9.27 Lakh
2,Skoda Rapid 1.6 MPI AT Style,2017,13500,Petrol,14.84 kmpl,1598 CC,103.52 bhp,5.0,14.95 Lakh
3,BMW 5 Series 520d Luxury Line,2012,66889,Diesel,22.48 kmpl,1995 CC,190 bhp,5.0,70.43 Lakh
4,Skoda Rapid 1.6 MPI Ambition,2018,4000,Petrol,15.41 kmpl,1598 CC,103.52 bhp,5.0,11.89 Lakh

In [124]:
car['Mileage'].unique()

array(['13.68 kmpl', '23.59 kmpl', '14.84 kmpl', '22.48 kmpl',
       '15.41 kmpl', '24.3 kmpl', '23.0 kmpl', '21.66 kmpl', '23.84 kmpl',
       '20.14 kmpl', '19.16 kmpl', '21.4 kmpl', '21.9 kmpl', '18.51 kmpl',
       '19.83 kmpl', '20.89 kmpl', '13.6 kmpl', '22.5 kmpl', '14.8 kmpl',
       '20.64 kmpl', '24.7 kmpl', '16.77 kmpl', '18.5 kmpl', '28.4 kmpl',
       '21.76 kmpl', '13.5 kmpl', '22.0 kmpl', '15.17 kmpl', '17.71 kmpl',
       '18.9 kmpl', '21.19 kmpl', '21.03 kmpl', '24.07 kmpl', '20.8 kmpl',
       '15.1 kmpl', '14.28 kmpl', '18.6 kmpl', '10.2 kmpl', '14.24 kmpl',
       '19.69 kmpl', '18.25 kmpl', '16.38 kmpl', '19.64 kmpl',
       '19.15 kmpl', '17.9 kmpl', '20.5 kmpl', '20.7 kmpl', '15.96 kmpl',
       '25.4 kmpl', '15.56 kmpl', '21.5 kmpl', '25.17 kmpl', '19.0 kmpl',
       '16.0 kmpl', '25.32 kmpl', '16.3 kmpl', '18.19 kmpl', '14.62 kmpl',
       '17.0 kmpl', '21.72 kmpl', '11.36 kmpl', '14.67 kmpl', '25.5 kmpl',
       '12.6 kmpl', '18.15 kmpl', '24.0 kmpl', '17.6 kmpl', '19.34 kmpl',
       '32.26 km/kg', '21.0 kmpl', '19.87 kmpl', '18.53 kmpl',
       '10.8 kmpl', '25.6 kmpl', '16.5 kmpl', '19.5 kmpl', '24.4 kmpl',
       '19.6 kmpl', '14.95 kmpl', '15.4 kmpl', '16.09 kmpl', '22.54 kmpl',
       '22.7 kmpl', '11.57 kmpl', '18.0 kmpl', '16.55 kmpl', '17.57 kmpl',
       '22.95 kmpl', '17.1 kmpl', '13.8 kmpl', '17.4 kmpl', '27.28 kmpl'],
      dtype=object)

In [125]:
car['Mileage'] = car['Mileage'].str.extract('(\d+\d.?\d*)').astype(float)

In [126]:
car['Mileage'].unique()

array([13.68, 23.59, 14.84, 22.48, 15.41, 24.3 , 23.  , 21.66, 23.84,
       20.14, 19.16, 21.4 , 21.9 , 18.51, 19.83, 20.89, 13.6 , 22.5 ,
       14.8 , 20.64, 24.7 , 16.77, 18.5 , 28.4 , 21.76, 13.5 , 22.  ,
       15.17, 17.71, 18.9 , 21.19, 21.03, 24.07, 20.8 , 15.1 , 14.28,
       18.6 , 10.2 , 14.24, 19.69, 18.25, 16.38, 19.64, 19.15, 17.9 ,
       20.5 , 20.7 , 15.96, 25.4 , 15.56, 21.5 , 25.17, 19.  , 16.  ,
       25.32, 16.3 , 18.19, 14.62, 17.  , 21.72, 11.36, 14.67, 25.5 ,
       12.6 , 18.15, 24.  , 17.6 , 19.34, 32.26, 21.  , 19.87, 18.53,
       10.8 , 25.6 , 16.5 , 19.5 , 24.4 , 19.6 , 14.95, 15.4 , 16.09,
       22.54, 22.7 , 11.57, 18.  , 16.55, 17.57, 22.95, 17.1 , 13.8 ,
       17.4 , 27.28])

In [127]:
car['Engine'].unique()

array(['2393 CC', '1364 CC', '1598 CC', '1995 CC', '1248 CC', '998 CC',
       '1498 CC', '1199 CC', '1197 CC', '2487 CC', '1968 CC', '1198 CC',
       '1999 CC', '1591 CC', '796 CC', '2993 CC', '2477 CC', '1582 CC',
       '1396 CC', '1461 CC', '1196 CC', '1798 CC', '5998 CC', '2755 CC',
       '2143 CC', '999 CC', '1496 CC', '1595 CC', '2523 CC', '1186 CC',
       '1998 CC', '799 CC', '1497 CC', '1956 CC', '1950 CC', '1462 CC',
       '1997 CC', '1493 CC', '2489 CC', '2996 CC', '2987 CC', '2498 CC',
       '1193 CC', '1047 CC', '1368 CC'], dtype=object)

In [128]:
car['Engine'] = car['Engine'].str.extract('(\d+)').astype(float)

In [129]:
car['Engine'].unique()

array([2393., 1364., 1598., 1995., 1248.,  998., 1498., 1199., 1197.,
       2487., 1968., 1198., 1999., 1591.,  796., 2993., 2477., 1582.,
       1396., 1461., 1196., 1798., 5998., 2755., 2143.,  999., 1496.,
       1595., 2523., 1186., 1998.,  799., 1497., 1956., 1950., 1462.,
       1997., 1493., 2489., 2996., 2987., 2498., 1193., 1047., 1368.])

In [130]:
car['Power'] = car['Power'].str.extract('(\d+\.?\d*)').astype(float)

In [131]:
car['Power'].unique()

array([147.8 ,  67.06, 103.52, 190.  ,  88.5 ,  67.04,  67.  , 108.62,
        84.  ,  81.86, 175.67,  83.1 ,  98.6 , 147.51,  81.8 , 177.  ,
        98.96, 121.3 , 108.5 ,  47.3 , 261.49,  86.8 ,  73.75, 175.56,
       126.2 , 181.  ,  78.8 , 246.74,  88.76,  65.  ,  67.1 ,  64.1 ,
        73.  , 138.03, 616.  , 174.5 , 187.74,  74.  , 182.46,  75.94,
       170.  , 113.98, 120.69,  62.1 ,  73.97, 252.  ,  53.3 ,  88.7 ,
       117.3 ,  77.  , 149.92, 201.15, 108.4 , 171.5 , 177.46, 191.34,
        82.  , 103.  ,  91.72,  58.2 , 141.  ,  83.8 ,  70.  ,  75.  ,
        98.63, 108.45,  93.7 ,  91.7 , 103.5 ,  53.64, 362.07, 254.79,
       105.  , 192.  ,  69.  , 121.36, 160.  ])

In [132]:
car.head()

,Name,Year,Kilometers_Driven,Fuel_Type,Mileage,Engine,Power,Seats,New_Price
0,Toyota Innova Crysta Touring Sport 2.4 MT,2017,34000,Diesel,13.68,2393.0,147.80,7.0,25.27 Lakh
1,Toyota Etios Cross 1.4L VD,2014,70000,Diesel,23.59,1364.0,67.06,5.0,9.27 Lakh
2,Skoda Rapid 1.6 MPI AT Style,2017,13500,Petrol,14.84,1598.0,103.52,5.0,14.95 Lakh
3,BMW 5 Series 520d Luxury Line,2012,66889,Diesel,22.48,1995.0,190.00,5.0,70.43 Lakh
4,Skoda Rapid 1.6 MPI Ambition,2018,4000,Petrol,15.41,1598.0,103.52,5.0,11.89 Lakh

In [133]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               182 non-null    object
 1   Year               182 non-null    int64
 2   Kilometers_Driven  182 non-null    int64
 3   Fuel_Type          182 non-null    object
 4   Mileage            182 non-null    float64
 5   Engine             182 non-null    float64
 6   Power              182 non-null    float64
 7   Seats              182 non-null    float64
 8   New_Price          182 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 12.9+ KB

In [134]:
car['New_Price'].unique()

array(['25.27 Lakh', '9.27 Lakh', '14.95 Lakh', '70.43 Lakh',
       '11.89 Lakh', '11.02 Lakh', '8.94 Lakh', '5.78 Lakh', '9.4 Lakh',
       '6.3 Lakh', '6.41 Lakh', '40.62 Lakh', '8.8 Lakh', '15.59 Lakh',
       '44.8 Lakh', '5.74 Lakh', '7.43 Lakh', '52.96 Lakh', '4.59 Lakh',
       '11.48 Lakh', '15.93 Lakh', '14.32 Lakh', '3.99 Lakh', '1.58 Cr',
       '6.15 Lakh', '8.95 Lakh', '62.07 Lakh', '31.93 Lakh', '15.88 Lakh',
       '43.65 Lakh', '8.23 Lakh', '8.57 Lakh', '7.19 Lakh', '56.98 Lakh',
       '14.13 Lakh', '11.2 Lakh', '9.12 Lakh', '3.91 Lakh', '25.04 Lakh',
       '8.92 Lakh', '5.01 Lakh', '19.01 Lakh', '9.45 Lakh', '3.75 Cr',
       '35.16 Lakh', '6.78 Lakh', '6.24 Lakh', '55.61 Lakh', '9.42 Lakh',
       '8.44 Lakh', '4.56 Lakh', '29.9 Lakh', '7.12 Lakh', '9.94 Lakh',
       '6.44 Lakh', '7.67 Lakh', '16.82 Lakh', '15.57 Lakh', '9.51 Lakh',
       '11.75 Lakh', '63.47 Lakh', '6.7 Lakh', '34.1 Lakh', '5.31 Lakh',
       '15.24 Lakh', '36.5 Lakh', '37.03 Lakh', '10.86 Lakh', '8.85 Lakh',
       '59.12 Lakh', '5.79 Lakh', '3.96 Lakh', '10.55 Lakh', '15.73 Lakh',
       '8.91 Lakh', '4.7 Lakh', '27.56 Lakh', '17 Lakh', '4.75 Lakh',
       '40.73 Lakh', '21.77 Lakh', '11.47 Lakh', '7.08 Lakh',
       '77.92 Lakh', '14.86 Lakh', '26.14 Lakh', '32.41 Lakh',
       '33.36 Lakh', '6.63 Lakh', '12.05 Lakh', '86.97 Lakh', '6.38 Lakh',
       '5.89 Lakh', '6.55 Lakh', '7.79 Lakh', '7.87 Lakh', '18.32 Lakh',
       '10.65 Lakh', '16.64 Lakh', '21 Lakh', '9.54 Lakh', '9.26 Lakh',
       '6.33 Lakh', '35 Lakh', '4.66 Lakh', '23.29 Lakh', '3.95 Lakh',
       '13.08 Lakh', '5.71 Lakh', '4.02 Lakh', '67.1 Lakh', '66.71 Lakh',
       '13.33 Lakh', '4.5 Lakh', '15.11 Lakh', '49.12 Lakh', '10.51 Lakh',
       '8.65 Lakh', '5.04 Lakh', '53.14 Lakh', '5.51 Lakh', '15.05 Lakh',
       '11.91 Lakh', '8.6 Lakh', '15.55 Lakh', '10.36 Lakh', '20.69 Lakh',
       '4.25 Lakh', '4.09 Lakh', '1.06 Cr', '92.01 Lakh', '10.94 Lakh',
       '8.28 Lakh', '24.01 Lakh', '7.9 Lakh', '7.21 Lakh', '16.94 Lakh',
       '10.13 Lakh', '7.96 Lakh', '6.54 Lakh', '5.27 Lakh', '5.56 Lakh',
       '20.74 Lakh', '11.14 Lakh', '6.59 Lakh', '7.94 Lakh', '20.01 Lakh',
       '44.59 Lakh', '32.62 Lakh', '11.59 Lakh', '6.46 Lakh',
       '15.14 Lakh', '19.72 Lakh', '67.87 Lakh', '12.46 Lakh',
       '9.11 Lakh', '12.68 Lakh', '5.53 Lakh', '7.06 Lakh', '8.79 Lakh',
       '18.16 Lakh', '10.57 Lakh'], dtype=object)

In [135]:
car = car[~car['New_Price'].str.contains('Cr', na=False)]

In [136]:
car['New_Price'] = car['New_Price'].str.replace(' Lakh', '').astype(float) * 100000

In [137]:
car['New_Price'].unique()

array([2527000.,  927000., 1495000., 7043000., 1189000., 1102000.,
        894000.,  578000.,  940000.,  630000.,  641000., 4062000.,
        880000., 1559000., 4480000.,  574000.,  743000., 5296000.,
        459000., 1148000., 1593000., 1432000.,  399000.,  615000.,
        895000., 6207000., 3193000., 1588000., 4365000.,  823000.,
        857000.,  719000., 5698000., 1413000., 1120000.,  912000.,
        391000., 2504000.,  892000.,  501000., 1901000.,  945000.,
       3516000.,  678000.,  624000., 5561000.,  942000.,  844000.,
        456000., 2990000.,  712000.,  994000.,  644000.,  767000.,
       1682000., 1557000.,  951000., 1175000., 6347000.,  670000.,
       3410000.,  531000., 1524000., 3650000., 3703000., 1086000.,
        885000., 5912000.,  579000.,  396000., 1055000., 1573000.,
        891000.,  470000., 2756000., 1700000.,  475000., 4073000.,
       2177000., 1147000.,  708000., 7792000., 1486000., 2614000.,
       3241000., 3336000.,  663000., 1205000., 8697000.,  638000.,
        589000.,  655000.,  779000.,  787000., 1832000., 1065000.,
       1664000., 2100000.,  954000.,  926000.,  633000., 3500000.,
        466000., 2329000.,  395000., 1308000.,  571000.,  402000.,
       6710000., 6671000., 1333000.,  450000., 1511000., 4912000.,
       1051000.,  865000.,  504000., 5314000.,  551000., 1505000.,
       1191000.,  860000., 1555000., 1036000., 2069000.,  425000.,
        409000., 9201000., 1094000.,  828000., 2401000.,  790000.,
        721000., 1694000., 1013000.,  796000.,  654000.,  527000.,
        556000., 2074000., 1114000.,  659000.,  794000., 2001000.,
       4459000., 3262000., 1159000.,  646000., 1514000., 1972000.,
       6787000., 1246000.,  911000., 1268000.,  553000.,  706000.,
        879000., 1816000., 1057000.])

In [138]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 179 entries, 0 to 181
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               179 non-null    object
 1   Year               179 non-null    int64
 2   Kilometers_Driven  179 non-null    int64
 3   Fuel_Type          179 non-null    object
 4   Mileage            179 non-null    float64
 5   Engine             179 non-null    float64
 6   Power              179 non-null    float64
 7   Seats              179 non-null    float64
 8   New_Price          179 non-null    float64
dtypes: float64(5), int64(2), object(2)
memory usage: 14.0+ KB

In [139]:
car.head()

,Name,Year,Kilometers_Driven,Fuel_Type,Mileage,Engine,Power,Seats,New_Price
0,Toyota Innova Crysta Touring Sport 2.4 MT,2017,34000,Diesel,13.68,2393.0,147.80,7.0,2527000.0
1,Toyota Etios Cross 1.4L VD,2014,70000,Diesel,23.59,1364.0,67.06,5.0,927000.0
2,Skoda Rapid 1.6 MPI AT Style,2017,13500,Petrol,14.84,1598.0,103.52,5.0,1495000.0
3,BMW 5 Series 520d Luxury Line,2012,66889,Diesel,22.48,1995.0,190.00,5.0,7043000.0
4,Skoda Rapid 1.6 MPI Ambition,2018,4000,Petrol,15.41,1598.0,103.52,5.0,1189000.0

In [140]:
car.describe()

,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,New_Price
count,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,1.790000e+02
mean,2015.966480,39055.351955,19.863017,1535.290503,110.108827,5.290503,1.822922e+06
std,2.095741,27037.981206,4.070361,488.152357,46.222787,0.760300,1.792685e+06
min,2010.000000,1000.000000,10.800000,796.000000,47.300000,4.000000,3.910000e+05
25%,2015.000000,19982.000000,17.000000,1197.000000,74.000000,5.000000,7.070000e+05
50%,2017.000000,32835.000000,20.500000,1461.000000,88.700000,5.000000,1.086000e+06
75%,2017.000000,57434.500000,22.620000,1956.000000,139.515000,5.000000,2.071500e+06
max,2019.000000,160000.000000,32.260000,2987.000000,254.790000,8.000000,9.201000e+06

In [141]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 179 entries, 0 to 181
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               179 non-null    object
 1   Year               179 non-null    int64
 2   Kilometers_Driven  179 non-null    int64
 3   Fuel_Type          179 non-null    object
 4   Mileage            179 non-null    float64
 5   Engine             179 non-null    float64
 6   Power              179 non-null    float64
 7   Seats              179 non-null    float64
 8   New_Price          179 non-null    float64
dtypes: float64(5), int64(2), object(2)
memory usage: 14.0+ KB

In [142]:
car.shape

(179, 9)

In [143]:
car.to_csv('Clining_Data.csv')

# MODEL CREATION

In [144]:
x = car.drop(columns = 'New_Price')
y = car['New_Price']

In [145]:
x

,Name,Year,Kilometers_Driven,Fuel_Type,Mileage,Engine,Power,Seats
0,Toyota Innova Crysta Touring Sport 2.4 MT,2017,34000,Diesel,13.68,2393.0,147.80,7.0
1,Toyota Etios Cross 1.4L VD,2014,70000,Diesel,23.59,1364.0,67.06,5.0
2,Skoda Rapid 1.6 MPI AT Style,2017,13500,Petrol,14.84,1598.0,103.52,5.0
3,BMW 5 Series 520d Luxury Line,2012,66889,Diesel,22.48,1995.0,190.00,5.0
4,Skoda Rapid 1.6 MPI Ambition,2018,4000,Petrol,15.41,1598.0,103.52,5.0
...,...,...,...,...,...,...,...,...
177,Tata Tiago 1.05 Revotorq XT Option,2016,41413,Diesel,27.28,1047.0,69.00,5.0
178,Ford EcoSport 1.5 Petrol Ambiente,2017,39015,Petrol,17.00,1497.0,121.36,5.0
179,Jeep Compass 1.4 Sport,2018,6000,Petrol,16.00,1368.0,160.00,5.0
180,Maruti Vitara Brezza ZDi,2017,21380,Diesel,24.30,1248.0,88.50,5.0
181,Hyundai Elite i20 Magna Plus,2018,23955,Petrol,18.60,1197.0,81.86,5.0

In [146]:
y

0      2527000.0
1       927000.0
2      1495000.0
3      7043000.0
4      1189000.0
         ...
177     706000.0
178     879000.0
179    1816000.0
180    1057000.0
181     708000.0
Name: New_Price, Length: 179, dtype: float64

In [147]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.2)

In [148]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [149]:
ohe = OneHotEncoder()
ohe.fit(x[['Name','Fuel_Type']])

OneHotEncoder()

In [150]:
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['Name','Fuel_Type']), remainder='passthrough')

In [151]:
lr=LinearRegression()

In [152]:
pipe=make_pipeline(column_trans,lr)

In [153]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A4 35 TDI Premium Plus', 'Audi A4 35 TDI Technology',
       'Audi A6 35 TDI Matrix', 'Audi Q3 30 TDI Premium FWD',
       'Audi Q3 35 TDI Quattro Premium Plus', 'BMW 3 Series Luxury Line',
       'BMW 5 Series 520d Luxury Line', 'BMW 5 Series 530i Sport Line',
       'Datsu...
       'Toyota Innova Crysta 2.8 ZX AT',
       'Toyota Innova Crysta Touring Sport 2.4 MT',
       'Volkswagen Ameo 1.5 TDI Comfortline',
       'Volkswagen Ameo 1.5 TDI Highline',
       'Volkswagen Vento 1.5 TDI Highline',
       'Volkswagen Vento 1.5 TDI Highline Plus AT',
       'Volkswagen Vento 1.6 Trendline'], dtype=object),
                                                                            array(['CNG', 'Diesel', 'Petrol'], dtype=object)]),
                                                  ['Name', 'Fuel_Type'])])),
                ('linearregression', LinearRegression())])

In [154]:
y_pred = pipe.predict(x_test)

In [158]:
r2_score(y_test,y_pred)

0.7526094152313528

In [159]:
scores=[]
for i in range(1000):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    scores.append(r2_score(y_test, y_pred))

In [160]:
np.argmax(scores)

258

In [161]:
scores[np.argmax(scores)]

0.9402883243543385

In [162]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2, random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(x_train,y_train)
y_pred=pipe.predict(x_test)
r2_score(y_test,y_pred)

0.9402883243543385

In [163]:
import pickle

In [164]:
pickle.dump(pipe,open('Linear_Regression_Model.pkl','wb'))

In [165]:
pipe.predict(pd.DataFrame([['Jeep Compass 1.4 Sport',2018,100,'Petrol',16.00,1368.0,160.00,5.0]], columns=['Name','Year','Kilometers_Driven','Fuel_Type','Mileage','Engine','Power','Seats']))

array([2112842.35356851])